<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header" *ngIf="tmp.emptyPage">
      <h5>Ma'lumot yo'q</h5>
    </div>
    <div *ngIf="!tmp.emptyPage && !tmp.loading">
      <div
        class="card-header"
        style="display: flex; justify-content: space-between"
      >
        <div><h5>Navbat</h5></div>
        <div (click)="logout()" style="cursor: pointer"><h6>Chiqish</h6></div>
      </div>
      <div class="card-body">
        <div style="display: flex; justify-content: space-between">
          <div>
            <h3>Keyingi navbat {{ current_queue ? current_queue : "" }}</h3>
          </div>
          <div class="btn-popup">
            <button
              type="button"
              class="btn btn-primary"
              (click)="connectToQueue()"
            >
              {{ officerSocketStatus ? "Bandman" : "Qabul" }}
            </button>
            <!-- <button type="button" class="btn btn-primary" (click)="statistics()">Statistika</button> -->
          </div>
        </div>

        <!--                 <div class="btn-popup pull-right">
                    <a class="btn btn-secondary" [routerLink]="'/products/physical/add-product'">Mahsulot qo'shish</a>
                </div> -->
        <div
          id="batchDelete"
          class="category-table custom-datatable transcation-datatable user-image"
        >
          <div class="table-responsive">
            <ng2-smart-table
              [settings]="settings"
              [source]="dataSource"
            ></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<audio #myAudio>
  <source
    src="https://navbat.ferpi.uz/assets/ringtones/new_user.ogg"
    type="audio/ogg"
  />
  <source
    scr="https://navbat.ferpi.uz/assets/ringtones/new_user.mp3"
    type="audio/mpeg"
  />
</audio>
<div class="lds-wrap" *ngIf="tmp.loading">
  <div class="lds-dual-ring"></div>
</div>
<!-- Container-fluid Ends-->
