  <div class="container_2">
    <!-- Farpi  -->
    <div class="header">Farg‘ona politexnika instituti talabalarga xizmat ko‘rsatish ofisiga XUSH KELIBSIZ!</div>
    <div class="main">
      <!-- <video class="video" width="100%" loop controls autoplay> -->
        <!-- <source src="video/1.mp4" type="video/mp4"> -->
        <!-- <iframe width="100%" height="100%" src="https://www.youtube.com/embed/I8gQn5cYEuU?autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
        <iframe style="border-radius: 5px;" width="100%" height="100%" src="https://www.youtube.com/embed/uf3c3JgYIus?autoplay=1&loop=1&playlist=uf3c3JgYIus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!-- <iframe style="border-radius: 5px;" width="100%" height="100%" src="https://www.youtube.com/embed/XhbeAAmgEHw?autoplay=1&loop=1&playlist=XhbeAAmgEHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <!-- </video> -->
    </div>
    <div class="advert" *ngIf="service_used_number">Xizmatdan {{service_used_number}} marta foydalanildi. <a style="color:black;text-decoration:underline " href="https://navbat.ferpi.uz/statistics" target="_blank">Statistika</a></div>

    <!-- Ismlar -->
    <div class="talon">CHEK</div>
    <div class="section a1"><span *ngIf="current_queues_loop[0]">{{current_queues_loop[0].symbol}}{{current_queues_loop[0].next_number - 1}}</span></div><div class="section a2"><span *ngIf="current_queues_loop[1]">{{current_queues_loop[1].symbol}}{{current_queues_loop[1].next_number - 1}}</span></div><div class="section a3"><span *ngIf="current_queues_loop[2]">{{current_queues_loop[2].symbol}}{{current_queues_loop[2].next_number - 1}}</span></div><div class="section a4"><span *ngIf="current_queues_loop[3]">{{current_queues_loop[3].symbol}}{{current_queues_loop[3].next_number - 1}}</span></div><div class="section a5"><span *ngIf="current_queues_loop[4]">{{current_queues_loop[4].symbol}}{{current_queues_loop[4].next_number - 1}}</span></div><div class="section a6"><span *ngIf="current_queues_new">{{current_queues_new.symbol}}{{current_queues_new.next_number - 1}}</span></div>


    <!-- Oyna -->
    <div class="oyna">OYNA</div>
    <div class="section2 b1"><span *ngIf="current_queues_loop[0]">{{current_queues_loop[0].officer_id}}</span></div>
    <div class="section2 b2"><span *ngIf="current_queues_loop[1]">{{current_queues_loop[1].officer_id}}</span></div>
    <div class="section2 b3"><span *ngIf="current_queues_loop[2]">{{current_queues_loop[2].officer_id}}</span></div>
    <div class="section2 b4"><span *ngIf="current_queues_loop[3]">{{current_queues_loop[3].officer_id}}</span></div>
    <div class="section2 b5"><span *ngIf="current_queues_loop[4]">{{current_queues_loop[4].officer_id}}</span></div>
    <div class="section2 b6"><span *ngIf="current_queues_new">{{current_queues_new.officer_id}}</span></div>
    <audio #myAudio>
      <source src="https://navbat.ferpi.uz/assets/ringtones/new_user.ogg" type="audio/ogg">
      <source scr="https://navbat.ferpi.uz/assets/ringtones/new_user.mp3" type="audio/mpeg">
    </audio>
<!-- <button (click)="mytest()">Play</button> -->
  </div>
